.heading-text {
  display: flex;
  justify-content: space-between;
}

.table {
  width: 100vw;
  border-collapse: collapse;
}

.table th,
.table td {
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.form-group {
  margin-bottom: 3px;
}

.button-edit {
  display: flex;
  flex-direction: row;
  gap: 2;
}

.button-add {
  margin-top: 4px;
  margin-bottom: 10px;
}

.button-submit {
  margin-top: 5px;
}
